<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Alexia Hetka</title>
    <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' />
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous'>
    <link rel='stylesheet' href='../../static/css/styles.css'>
    <link rel='stylesheet' href='../../static/css/responsive.css'>
</head>

<body>

    <header>
        <nav class='navbar bg-dark border-bottom border-body' data-bs-theme='dark'>
            <div class='container-fluid'>
                <a class='navbar-brand' href='../../index.html'>
                    <img src='../../static/img/logo-coletivo-litera.png' alt='Logo Coletivo Litera' width='40'
                        height='40' class='mx-2'>COLETIVO LITERA
                </a>
                <button class='navbar-toggler' type='button' data-bs-toggle='collapse'
                    data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent'
                    aria-expanded='false' aria-label='Toggle navigation'>
                    <span class='navbar-toggler-icon'></span>
                </button>
                <div class='collapse navbar-collapse' id='navbarSupportedContent'>
                    <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
                        <li class='nav-item'>
                            <a class='nav-link active' aria-current='page' href='../../index.html'>Home</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='../publicacoes.html'>Publicações</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='../escritores.html'>Escritores</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='../quem_somos.html'>Quem Somos</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='../contato.html'>Entre em Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class='container mt-5'>
        <div class='card-group mb-5'>
            <div class='card text-center border-success'>
                <section class='perfil-escritor'>
                    <div class='card-header'></div>
                    <div class='card-body row justify-content-center align-items-center'>
                        <div class='col-md-3'>
                            <img src='../../media/escritores/alexia_hetka/Aléxia Hetka.jpg' alt='Foto Alexia Hetka'
                                class='img-perfil'>
                        </div>
                        <div class='col-md-9'>
                            <div class='card'>
                                <div class='card text-center border-success'>
                                    <div class='card-header bg-transparent border-success'>
                                        <h5 class='card-title pt-2'>ALEXIA HETKA</h5>
                                        <h6>(ela/dela)</h6>
                                    </div>
                                    <p id='alexiahetka' class='card-text px-5 pt-2'></p>
                                    <div class='card-footer bg-transparent border-success'>
                                        <a href='#' class='btn btn-success mx-2'>Instagram</a>
                                        <a href='https://acesse.one/Wi3V0' class='btn btn-success'>Amazon</a>
                                        <a href='#' class='btn btn-success mx-2'>Wattpad</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <h4 class='mt-3'>Minhas Publicações</h4>
                <div class='card-body row'>
                    <section class='col-md-6'>
                        <div class=''>
                            <img src='../../media/escritores/alexia_hetka/ah_livro01.jpg' alt='' class='img-livro'>
                            <p class='my-3 mx-5'><strong>SINOPSE: </strong>Quando criança, Angelique vê sua melhor amiga
                                Emilie sumir diante dos seus olhos, levada por uma esfera flutuante de fogo. Somente
                                anos mais tarde é que ela entenderá o porquê disso ter acontecido com a amiga, quando
                                ela mesma é levada para uma sociedade que agrupa diversos jovens na árdua missão de
                                proteger a natureza dos perigos que a luta pelo poder pode provocar.
                            </p>
                            <div class='row justify-content-center mb-3'>
                                <div class='col-md-4 my-2'>
                                    <a href='https://l1nk.dev/JP5md' class='btn btn-outline-success'>EBOOK</a>
                                </div>
                                <div class='col-md-4 my-2'>
                                    <a href='https://acesse.one/IWpiS' class='btn btn-outline-success'>FÍSICO</a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class='col-md-6'>
                        <div class=''>
                            <img src='../../media/escritores/alexia_hetka/ah_livro02.jpg' alt='' class='img-livro'>
                            <p class='my-3 mx-5'><strong>SINOPSE: </strong>Você tem uma ideia muito legal mas não
                                consegue escrevê-la?
                                Você acha que sua ideia não é suficiente para virar um livro porque existem lacunas na
                                história?
                                Você tem problemas de enredo que acha que não tem solução?
                                SEUS PROBLEMAS ACABARAM!

                                Conheça a estrutura de três atos e saiba como encaixar suas ideias nela, completar o
                                arco da sua história e ter as informações que precisa para finalmente escrever a sua
                                história! Um guia simples e claro para você realizar esse sonho.

                                E MAIS: Tenha acesso à APOSTILA DIGITAL DE PLANEJAMENTO para preencher os conceitos
                                abordados e organizar o arco completo da sua história num só lugar.

                                A SEGUNDA EDIÇÃO traz conceitos mais completos, dicas de softwares para escritores e
                                acesso a um material extra exclusivo: A apostila de planejamento de livro é uma
                                ferramenta prática para exercitar a divisão do seu livro em 3 atos, com checklists,
                                fichas de personagem e detalhamento por capítulos.

                                IMPORTANTE: Como você pode observar em algumas das avaliações, esse livro foi pensado
                                para escritores iniciantes, ainda sem muita base teórica. A linguagem é simples e aborda
                                o conceito dos três atos, como colocá-lo em prática e a apostila para praticar seu
                                planejamento.
                            </p>
                            <div class='row justify-content-center mb-3'>

                                <div class='col-md-4 my-2'>
                                    <a href='https://l1nk.dev/u8DYG' class='btn btn-outline-success'>EBOOK</a>
                                </div>
                                <div class='col-md-4 my-2'>
                                    <a href='#' class='btn btn-outline-success disabled'>FÍSICO</a>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class='col-md-6'>
                        <div class=''>
                            <img src='../../media/escritores/alexia_hetka/ah_livro03.jpg' alt='' class='img-livro'>
                            <p class='my-3 mx-5'><strong>SINOPSE: </strong>O que são sonhos para você? Para Samantha,
                                eles são sua paixão e campo de estudo. Mas desbloquear segredos subconscientes é mais
                                perigoso do que ela imaginava e as consequências de possuir esse recurso vão colocar
                                tudo à prova.

                                Samantha Castilha é neurocientista e herdeira da Dreamland, uma empresa que transforma
                                sonhos em vídeos. Enquanto tenta usar a tecnologia para ajudar a namorada a relembrar
                                detalhes de um acidente traumático, ameaças imprevistas surgem. E com o seu bem mais
                                precioso em risco, ela irá a extremos inimagináveis para proteger o seu legado e as
                                pessoas que ama. Nessa busca, Sam vai descobrir coisas sobre seu passado que vão
                                transformar o seu futuro.

                                Numa mistura de drama, ação e ficção científica, Dreamland mostra como uma pequena
                                escolha pode impactar o resto da sua vida e a das pessoas à sua volta. A viagem entre o
                                consciente e inconsciente levanta questões sobre o poder da nossa mente frente a traumas
                                e obsessões, revelando que sonhos podem significar muito mais do que imaginamos.
                            </p>
                            <div class='row justify-content-center mb-3'>

                                <div class='col-md-4 my-2'>
                                    <a href='https://acesse.one/fTmJ3' class='btn btn-outline-success'>EBOOK</a>
                                </div>
                                <div class='col-md-4 my-2'>
                                    <a href='#' class='btn btn-outline-success disabled'>FÍSICO</a>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class='col-md-6'>
                        <div class=''>
                            <img src='../../media/escritores/alexia_hetka/ah_livro04.jpg' alt='' class='img-livro'>
                            <p class='my-3 mx-5'><strong>SINOPSE: </strong>“Um fio vermelho invisível conecta aqueles
                                que estão destinados a se encontrar, independente do tempo, lugar ou circunstância. O
                                fio pode esticar ou enrolar, mas nunca quebrar.”
                                Provérbio Chinês

                                Destino é uma obra que reúne 12 contos escritos por diferentes autores. Todo o dinheiro
                                arrecadado com as vendas será revertido para uma instituição de caridade.
                            </p>
                            <div class='row justify-content-center mb-3'>

                                <div class='col-md-4 my-2'>
                                    <a href='https://acesse.one/jRcWB' class='btn btn-outline-success'>EBOOK</a>
                                </div>
                                <div class='col-md-4 my-2'>
                                    <a href='#' class='btn btn-outline-success disabled'>FÍSICO</a>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
                <div class='card-footer text-body-secondary'>
                    <a href='../escritores_antologia01.html' class='btn btn-success mx-5 my-2'>Antologia 1</a>
                    <a href='../escritores_antologia02.html' class='btn btn-success mx-5 my-2'>Antologia 2</a>
                </div>
            </div>
        </div>
    </main>

    <script type='text/javascript' src='../../static/js/quemsoueu.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' type='text/javascript'></script>

    <script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js'
        integrity='sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r'
        crossorigin='anonymous'></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js'
        integrity='sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy'
        crossorigin='anonymous'></script>
</body>

</html>