body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}

@media (max-width:1000px) {

    .company-area {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 800px) {

    .social-media {
        display: flex;
        flex-direction: column;
    }

    .github-api img:first-child {
        height: 7.25rem;
    }

    .company-area {
        display: block;
    }

    .company-item {
        max-width: 100%;
    }

    .company-container {
        padding-top: 20px;
    }

    .company-modal-area {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .company-modal-body {
        width: 100vw;
        display: block;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    .company-info h1 {
        margin-top: 20px;
    }

}